*{

padding: 0;
margin: 0;
box-sizing: border-box;



}


nav{

    position:sticky;
    top: 0;
    width: 100%;
    
}



.cont1{

    width: 80%;
    
    display: flex;
    justify-content: space-between;
    
   
    
    }

nav .cont1{

display: flex;

}

.navlist ul{

    display: flex;
    justify-content: space-between;




}

.navlist ul li{

    list-style: none;
    color: black;
      


}


nav{

    position:sticky;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.367);
    z-index: 10;
    
}

nav img{
 width: 100px;
height: 100%;



}


.end{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 40%;

}

a{
    text-decoration: none;
    color: black;
}

.start{
width: 40%;
display: flex;
flex-wrap: wrap;
align-content: center;

}



.navlist{
width: 100%;
}

header{
    background-image: url('images/headimage.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}

.head{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
height: 100vh;
color: white;

gap: 20px;

}

imagediv{
    width: 400px;
    height: 200px;
   
    }


.buttons{

    display: flex;
    justify-content: center;
    gap: 10px;
}    

.buttons button{

    padding: 20px;
    border-radius: 10px;
    
} 

.head h1{

    font-size: 50px;
    font-weight: 200;
}

.head p{

    font-size: 20px;
    font-weight: 90;
}

button:hover{
    background-color: #c1ab84;
}


.buttons button:first-of-type{
    background-color: #c1ab84;
}

.buttons button:first-of-type:hover{
    background-color: #f4f4f4;
}